/*****************/
/* HTML Elements */
/*****************/

html, body {
     min-height: 100%; /* always show vertical scrollbar */
     margin-bottom: 300px; /* allow some space at the bottom of the scrollbar */
     margin-top: 15px;
     min-width: 900px;
     max-width: 900px;
     margin-left: auto;
     margin-right: auto;
}

body {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 10pt;
}

h1 
{ 
  font-size: 18pt;   
  color: #303060;
  margin: 20px 0px 0px 0px; 
  padding: 0;
  font-family: Helvetica, Sans-serif; 
}

h2 
{ 
  font-size: 18pt;   
  color: #706ab2;
  margin: 10px 0px 0px 0px; 
  padding: 0;
  font-family: Helvetica, Sans-serif; 
}

h3 
{ 
  font-size: 13pt;   
  color: #706ab2;
  margin: 20px 0px 0px 0px; 
  padding: 0;
  font-family: Helvetica, Sans-serif; 
}

h4 
{ 
  font-size: 13pt;   
  color: #AAA;
  margin: 0px 0px 0px 0px; 
  padding: 0;
  font-family: Helvetica, Sans-serif; 
}

p, .text
{
  font-family: Arial, Helvetica, Sans-serif;
  text-align: justify;
  margin: 2px 0px 2px 0px; 
  padding: 0;
  color: #555;
}

table.indented
{
  margin-left: 12px; 
}

p.indented
{
  margin-left: 15px; 
}

p.indented2
{
  margin-left: 25px; 
}

p.center
{
  text-align: center;
}

a, a:visited 
{
  color: #336;
 font-weight: normal;
}

a.menu, a.menu:visited
{
 font-size: 11pt;
  color: #336;
}

a:hover, a.menu:hover
{
  text-decoration: none;
  border-bottom-color: #D2A05B;
  background: #f2f7d4;
}

li
{
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 10pt;
  text-align: justify;
  margin: 0px 0px 0px 0px; 
  padding: 3px;
  color: #555;
}

ul
{
  list-style: square;
  margin: 0px 0px 0px 35px;
  padding: 0px;
  color: #555;
}

td
{
   padding-right: 10px;
}

td.schedule
{
   padding-bottom: 8px;
}

